/* import only the necessary Bootstrap files */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

@import "./functions";

/* -------begin customization-------- */

// /* die Standardfarben festlegen */
// $theme-colors: (
// );

/* simply assign the value */
$body-bg: #fafdf6;

// Custom

$theme-colors: (
    primary: #f9f8f8,
    secondary: #586994,
    success: #bdc8d4,
    info: #0099cc,
    warning: #a34c40,
    danger: #8c271e,
    light: #0e5499,
    dark: #c0c0c0,
);

.navbar-light .navbar-nav a.nav-link {
    color: #ffffff;
}

.dropdown-menu a {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #0e5499 !important;
}

.main {
    margin-top: 30px;
}

.carousel-indicators {
    position: static !important;
}

.carousel-caption {
    position: static !important;
}

footer {
    width: 100%;
    padding: 30px 0;
    background: darken(#ffffff, 10%);
    color: set-text-color(#f9f8f8);
}

// Ab hier für die Geschichtsunterseite

$primary-color: #ff6b6b;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: inherit;
    }
}

/*----- TIMELINE ITEM -----*/

.timeline-item {
    padding-left: 40px;
    position: relative;
    &:last-child {
        padding-bottom: 0;
    }
}

/*----- TIMELINE INFO -----*/

.timeline-info {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 0.5em 0;
    text-transform: uppercase;
    white-space: nowrap;
}
/*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    &:before {
        background: $primary-color;
        border: 3px solid transparent;
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px;
        left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
    }
    &:after {
        content: "";
        width: 3px;
        background: #ccd5db;
        display: block;
        position: absolute;
        top: 24px;
        bottom: 0;
        left: 6px;
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: transparent;
    border: 3px solid $primary-color;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
    padding-bottom: 40px;
    p:last-child {
        margin-bottom: 0;
    }
}

/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid #ccd5db;
            border-bottom: 3px solid #ccd5db;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        padding: 40px 0 70px;
    }
    .timeline-title {
        margin: 0;
    }
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

.timeline-split {
    @media (min-width: 768px) {
        .timeline {
            display: table;
        }
        .timeline-item {
            display: table-row;
            padding: 0;
        }
        .timeline-info,
        .timeline-marker,
        .timeline-content,
        .period .timeline-info {
            display: table-cell;
            vertical-align: top;
        }
        .timeline-marker {
            position: relative;
        }
        .timeline-content {
            padding-left: 30px;
        }
        .timeline-info {
            padding-right: 30px;
        }
        .period .timeline-title {
            position: relative;
            left: -45px;
        }
    }
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

.timeline-centered {
    @extend .timeline-split;
    @media (min-width: 992px) {
        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }
        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }
        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }
        .timeline-info,
        .timeline-content {
            width: 50%;
        }
        > .timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .timeline-item.period {
            padding: 50px 0 90px;
        }
        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }
        .period .timeline-title {
            left: auto;
        }
    }
}

/*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/

.marker-outline {
    .timeline-marker {
        &:before {
            background: transparent;
            border-color: $primary-color;
        }
    }
    .timeline-item:hover .timeline-marker:before {
        background: $primary-color;
    }
}


/*==================================
    Hompage-Startseite
==================================*/

.svginvert {
    -webkit-filter: invert(100%); 
            filter: invert(100%);
}


.hero-image {
    //source: https://www.w3schools.com/howto/howto_css_hero_image.asp
    /* Use "linear-gradient" to add a darken background effect to the image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("kgs-bg.jpg");
    /* Set a specific height */
    height: 75%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  /* Place text in the middle of the image */
.hero-text {
//    font-family: "Lucida Console";
    text-align: justify;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.ConBoxL {
    position: absolute;
    width: 20%;
    top: 75%;
    left: 55%;
}
.ConBoxR {
    position: absolute;
    width: 20%;
    top: 75%;
    left: 79%;
    justify-content: center;
    // transform: translate(50%, 50%);

    // border-top-right-radius: 10px;
    // box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    // overflow: hidden;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // text-decoration: none;
}
.hovereffekt {
    background: #0e5499;
    transition: all 0.3s ease-out;
}
.imagez {
    opacity: 1;
    // display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.setText{
    text-align: center; 
    transform: translate(0, -200%); 
    color: #ffffff;
}
.hovereffekt:hover .imagez{
    opacity: 0.3;
}
.hovereffekt:hover .imagez{
    opacity: 0.3;
}
.middle {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../bootstrap/scss/bootstrap";
