/* import only the necessary Bootstrap files */
@import "../../vendor/twbs/bootstrap/scss/functions";
@import "../../vendor/twbs/bootstrap/scss/variables";

@import "./functions";

/* -------begin customization-------- */

// Basisschriftgröße etwas erhöhen
$font-size-base: 1.2rem;

// Das Swap ist für die Performance, sagen die Analysetools...
// https://web.dev/font-display/?utm_source=lighthouse&utm_medium=lr#how-to-avoid-showing-invisible-text
@font-face{
    font-family: 'Pangea';
    src: url('Pangea-LightWeb.woff2');
    font-style: normal;
    font-weight: 300;

    src: local('Pangea-LightWeb'), local('Pangea-LightWeb'),
    url('./Pangea-LightWeb.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'Pangea';
    src: url('./Pangea-RegularWeb.woff2');
    font-style: normal;
    font-weight: 400;

    src: local('Pangea-Regular'), local('Pangea-RegularWeb'),
    url('./Pangea-RegularWeb.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'Pangea';
    src: url('Pangea-MediumWeb.woff2');
    font-style: normal;
    font-weight: 500;

    src: local('Pangea-MediumWeb'), local('Pangea-MediumWeb'),
    url('./Pangea-MediumWeb.woff2') format('woff2');
    font-display: swap;
}

@font-face{
    font-family: 'Pangea';
    src: url('Pangea-SemiBoldWeb.woff2');
    font-style: normal;
    font-weight: 600;

    src: local('Pangea-SemiBold'), local('Pangea-SemiBoldWeb'),
    url('./Pangea-SemiBoldWeb.woff2') format('woff2');
    font-display: swap;
}


@font-face{
    font-family: 'Pangea';
    src: url('./Pangea-BoldWeb.woff2');
    font-style: normal;
    font-weight: 700;

    src: local('Pangea-BoldWeb'), local('Pangea-BoldWeb'),
    url('./Pangea-BoldWeb.woff2') format('woff2');
    font-display: swap;
}



$font-family-sans-serif: Pangea, Segoe UI, Optima, Arial, sans-serif;

$body-bg: #f4f4f4;


// Custom

$theme-colors: (
    primary: #f9f8f8,
    secondary: #586994,
    success: #bdc8d4,
    info: #0099cc,
    warning: #a34c40,
    danger: #8c271e,
    light: #0e5499,
    dark: #c0c0c0,
);

// .navbar-light .navbar-nav a.nav-link {
//     color: #f4f4f4 !important;
//     // font-size: 22px;
// }

// .dropdown-menu a {
//     color: #58945d;
// }

// .dropdown-menu {
//     // Das ist die Farbe des Hintergrundes
//     // vom Dropdownmenu
//     background-color: #f4f4f4 !important;
// }

.main {
    margin-top: 30px;
}

.carousel-indicators {
    position: static !important;
}

.carousel-caption {
    position: static !important;
}

.honeypot { //Für Formulare (sehr primitives antispam)
    position: absolute;
    left: -9999px;
}

.text-umbruch { //Speziell für die Navbar
    white-space: normal !important;
}


@media (min-width: 576px) { //Speziell für die Navbar
    .text-sm-kein-umbruch {
        white-space: nowrap !important;
    }
}

// footer {
//     width: 100%;
//     padding: 30px 0;
//     background: darken(#ffffff, 10%);
//     color: set-text-color(#f9f8f8);
// }


/*==================================
    Heroimage (Startseite)
==================================*/

.top-banner-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
}
.top-banner-section .banner-image-div {
    grid-area: 1 / 1 / 2 / 2;
}
.top-banner-section .banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
}
.top-banner-section .banner-text-div {
    grid-area: 1 / 1 / 2 / 2;
}

.banner-image {
    display: grid;
    min-width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-overlay-div {
    display: grid;
    max-width: 100%;
    // background: black;
    // background: linear-gradient(60deg, rgba(0, 0, 0, 0.7777485994) 30%, rgba(255, 255, 255, 0) 100%);
}

.banner-text-div {
    display: grid;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.banner-h1-text {
    font-size: calc(26pt + 0.15vw);
    letter-spacing: 0.05em;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}

.banner-body-text {
    font-size: calc(20pt + 0.15vw);
    margin-top: 1.5em;
    color: white;
    text-decoration: none;
}
.banner-body-text:hover {
    color: white;
}
.banner-body-text:visited {
    color: white;
}
.banner-body-text:active {
    color: white;
}

.banner-btn {
    margin-top: 1em;
}

.banner-btn-item {
    font-size: calc(8pt + 0.15vw);
    padding-top: calc(0.5em + 0.08vw);
    padding-bottom: calc(0.5em + 0.08vw);
    padding-left: calc(0.5em + 0.08vw);
    padding-right: calc(0.5em + 0.08vw);
    color: blue;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
}
.banner-btn-item:link {
    text-decoration: none;
}
.banner-btn-item:visited {
    text-decoration: none;
}


// Hier kommen Anpassungen wegen Effekten (übernommen von .smol-transitions)

.kgs-transitions>* {
    --transition-property: transform;
    --transition-duration: 180ms;
    transition: var(--transition-property) var(--transition-duration) ease-in-out;
}


.zoom:hover>* {
    transform: scale(1.1);
}


/* -------end customization-------- */

/* finally, import Bootstrap to set the changes! */
@import "../../vendor/twbs/bootstrap/scss/bootstrap";

