/* 
    Dokumentation der Möglichkeiten hier:
    
    https://getkirby.com/docs/cookbook/panel/customizing-panel

    und 

    https://getkirby.com/docs/cookbook/panel/panel-branding
 */


 @font-face {
  font-family: "Pangea";
  src: url("Pangea-LightWeb.woff2");
  font-style: normal;
  font-weight: 300;

  src: local("Pangea-LightWeb"), local("Pangea-LightWeb"), url("./Pangea-LightWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("./Pangea-RegularWeb.woff2");
  font-style: normal;
  font-weight: 400;

  src: local("Pangea-Regular"), local("Pangea-RegularWeb"), url("./Pangea-RegularWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("Pangea-MediumWeb.woff2");
  font-style: normal;
  font-weight: 500;

  src: local("Pangea-MediumWeb"), local("Pangea-MediumWeb"), url("./Pangea-MediumWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("Pangea-SemiBoldWeb.woff2");
  font-style: normal;
  font-weight: 600;

  src: local("Pangea-SemiBold"), local("Pangea-SemiBoldWeb"), url("./Pangea-SemiBoldWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("./Pangea-BoldWeb.woff2");
  font-style: normal;
  font-weight: 700;

  src: local("Pangea-BoldWeb"), local("Pangea-BoldWeb"), url("./Pangea-BoldWeb.woff2") format("woff2");
  font-display: swap;
}





:root {
  font-family: 'Pangea';
  --color-gray-900: #250606dc;
  --color-background: #f4f4f4;
}

.k-tabs {
  background-color: #bdc8d4;
}

.k-header::before {
  float: right;
  content: '';
  margin-top: 10px;
  width: 75px;
  height: 75px;
  background-image: url('../bilder/logo_square.svg');
  background-repeat: no-repeat;
  background-size: contain;
  clear: right;
}

.k-login-view {
  background-color: #fffefe;
  background-image: url('../../assets/logo-kgs.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 10%;
  background-size: 200px;
}

.k-icon-key {
  rotate: 180deg;
}