.logo-image {
	width: 50px;
	height: 50px;
	overflow: hidden;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.eot');
	src: local('☺'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype'), url('../fonts/Roboto.svg') format('svg');
    font-weight: 400;
    font-display:swap;
	font-style: normal;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* die Schriftgröße war zu klein */
p {
    font-size: 1.2em;
}

.dropdown-item {
    font-size: x-large;
}

html.home {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}