*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: currentColor;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 3rem; 
}

header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-bottom: 1.5rem;
}

img {
    width: 100%;
}

.menu {
    display: flex;
}

.menu a {
    margin-left: 1.5rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, lfr);
    list-style: none;
    grid-gap: 1.5rem;
}