@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pangea";
  src: url("Pangea-LightWeb.woff2");
  font-style: normal;
  font-weight: 300;

  src: local("Pangea-LightWeb"), local("Pangea-LightWeb"),
    url("./Pangea-LightWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("./Pangea-RegularWeb.woff2");
  font-style: normal;
  font-weight: 400;

  src: local("Pangea-Regular"), local("Pangea-RegularWeb"),
    url("./Pangea-RegularWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("Pangea-MediumWeb.woff2");
  font-style: normal;
  font-weight: 500;

  src: local("Pangea-MediumWeb"), local("Pangea-MediumWeb"),
    url("./Pangea-MediumWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("Pangea-SemiBoldWeb.woff2");
  font-style: normal;
  font-weight: 600;

  src: local("Pangea-SemiBold"), local("Pangea-SemiBoldWeb"),
    url("./Pangea-SemiBoldWeb.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pangea";
  src: url("./Pangea-BoldWeb.woff2");
  font-style: normal;
  font-weight: 700;

  src: local("Pangea-BoldWeb"), local("Pangea-BoldWeb"),
    url("./Pangea-BoldWeb.woff2") format("woff2");
  font-display: swap;
}

.prose {
  max-width: 80ch;
}

.prose p {
  margin-bottom: 1em;
}

.prose-li\:list-disc {
  margin-bottom: 1em;
}

img.max-w-xl {
  max-width: 100%;
}

@media (min-width: 1024px) {
  .prose-li\:list-disc {
    font-size: 1.25rem;
    line-height: 1.8;
  }
}

.collapse.show {
  visibility: visible !important;
}
