/* Tailwind importieren und nur im angegebenen source Ordner scannen */
@import "tailwindcss" source("../../site/");

/* Plugins */
@plugin "@tailwindcss/typography";

/* Class based dark mode */
@variant dark (&:where(.dark, .dark *));

/* Für AlpineJS im mobilen Menü */
[x-cloak] {
  display: none !important;
}

/* Tailkit configuration */
@theme {
  /* Colors */
  --color-kgs-red: #a34e1c;
  --color-kgs-lblue: #8e9fcc;
  --color-kgs-blue: #0e5499;
  
  /* Fonts */
  --font-sans: "Pangea", "sans-serif";

  /* Animations */
  --animate-spin-slow: spin-slow 8s linear infinite;

  @keyframes spin-slow {
    100% {
      transform: rotate(-360deg);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: Pangea;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/assets/css/Pangea-LightWeb.woff2") format("woff2");
}
